<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Rock Paper Scissors Installer</Name>
    <Version>2.0.0</Version>
    <Title>Rock Paper Scissors Game Installer</Title>
    <Publisher>MyCompany</Publisher>
    <StartMenuDir>RockPaperScissors</StartMenuDir>
    <TargetDir>@DesktopDir@/RockPaperScissors</TargetDir>

    <RemoteRepositories>
        <Repository>
            <Url>https://jungjinhyo.github.io/rockpaperscissors-installer/v2.0.0</Url>
            <Enabled>1</Enabled>
            <DisplayName>Rock Paper Scissors v2.0.0 Repository</DisplayName>
        </Repository>
    </RemoteRepositories>
</Installer>
