<?xml version="1.0"?>
<Installer>
    <Name>Rock Paper Scissors</Name>  <!-- 애플리케이션 이름 -->
    <Version>1.0.6</Version>  <!-- 애플리케이션 버전 -->
    <Title>Rock Paper Scissors Game Installer</Title>  <!-- 설치 프로그램 제목 -->
    <Publisher>MyCompany</Publisher>  <!-- 배포자 정보 -->
    <ProductUrl>https://jungjinhyo.github.io/rockpaperscissors-installer/</ProductUrl>  <!-- 애플리케이션 홈페이지 -->
    <InstallerWindowIcon>installericon.png</InstallerWindowIcon>  <!-- 설치 창 아이콘 -->
    <InstallerApplicationIcon>installericon.png</InstallerApplicationIcon>  <!-- 애플리케이션 아이콘 -->
    <Logo>logo.png</Logo>  <!-- 로고 이미지 -->
    <Watermark>watermark.png</Watermark>  <!-- 워터마크 이미지 -->
    
    <RunProgram>@TargetDir@/RockPaperScissors.exe</RunProgram>  <!-- 설치 후 실행할 프로그램 -->
    <RunProgramDescription>Play the latest version of Rock Paper Scissors!</RunProgramDescription>

    <StartMenuDir>RockPaperScissors</StartMenuDir>  <!-- 시작 메뉴 디렉터리 -->
    <TargetDir>@HomeDir@/RockPaperScissors</TargetDir>  <!-- 기본 설치 경로 -->
    <AdminTargetDir>@RootDir@/RockPaperScissors</AdminTargetDir>  <!-- 관리자 설치 경로 -->

    <RemoteRepositories>
        <Repository>
            <Url>https://jungjinhyo.github.io/rockpaperscissors-installer/v1.0.6</Url>
            <Enabled>1</Enabled>  <!-- 저장소 활성화 -->
            <DisplayName>Rock Paper Scissors v1.0.6 Repository</DisplayName>
        </Repository>
    </RemoteRepositories>
</Installer>
