<Installer>
 <Name>rockpaperscissors-installer</Name>
 <Version>1.2.0</Version>
 <Title>rockpaperscissors-installer Installer</Title>
 <Publisher>MyCompany</Publisher>
 <ProductUrl>https://jungjinhyo.github.io/rockpaperscissors-installer-installer/</ProductUrl>
 <InstallerWindowIcon>installericon.png</InstallerWindowIcon>
 <InstallerApplicationIcon>installericon.png</InstallerApplicationIcon>
 <Logo>logo.png</Logo>
 <Watermark>watermark.png</Watermark>
 <RunProgram>@TargetDir@/rockpaperscissors-installer.exe</RunProgram>
 <RunProgramDescription>Play the latest version of rockpaperscissors-installer!</RunProgramDescription>
 <StartMenuDir>rockpaperscissors-installer</StartMenuDir>
 <TargetDir>@DesktopDir@/rockpaperscissors-installer_v1.2.0</TargetDir>
 <AdminTargetDir>@RootDir@/rockpaperscissors-installer</AdminTargetDir>
 <RemoteRepositories>
  <Repository>
   <Url>https://jungjinhyo.github.io/rockpaperscissors-installer-installer/v1.2.0/repository</Url>
   <Enabled>1</Enabled>
   <DisplayName>rockpaperscissors-installer v1.2.0 Repository</DisplayName>
  </Repository>
 </RemoteRepositories>
</Installer>
